.container {
    width: 1238px;
}

@media (max-width: 1440px) {
    .container {
        width: 1138px;
    }
}


@media (max-width: 1280px) {
    .container {
        width: 938px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: auto;
        padding-inline: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        padding-inline: 20px;
    }
}