* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #232830;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.writings-dev {
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

nav {
    display: flex;
    gap: 30px;
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}

nav a:hover {
    color: #FF7575;
}

nav a:hover {
    transition: 0.5s;
}


.burger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .burger-menu {
        display: flex;
    }
}

.bm-line {
    width: 25px;
    height: 3px;
    border-radius: 1px;
    background-color: #FF7575;
}

.hero-section {
    left: 50%;
    transform: translateX(-50%);
}

.hero-logo {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 79px;
}

@media (max-width: 1280px) {
    .hero-logo {
        width: 140px;
    }
}

@media (max-width: 1024px) {
    .hero-logo {
        width: 80px;
        margin-top: 50px;
    }
}

.hero-title {
    font-family: "Recursive", sans-serif;
    font-weight: 400;
    font-style: Italic;
    font-size: 71px;
    color: #FF7575;
    margin-top: 41px;
    text-align: center;
}

@media (max-width: 1280px) {
    .hero-title {
        font-size: 55px;
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .hero-title {
        font-size: 40px;
        margin-top: 20px;
    }
}

.hero-description {
    font-weight: 400;
    font-size: 29px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 17px;
}

@media (max-width: 1280px) {
    .hero-description {
        font-size: 23px;
    }
}

@media (max-width: 1024px) {
    .hero-description {
        font-size: 18px;
        margin-top: 9px;
    }
}

.line {
    margin-top: 99px;
    width: 100%;
    border: 3px solid #4D4D4D;
    color: #4D4D4D;
    opacity: 0.2;
}

@media (max-width: 1280px) {
    .line {
        margin-top: 75px;
    }
}

@media (max-width: 576px) {
    .line {
        margin-top: 45px;
    }
}

.links-section {
    margin-top: 20px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 41px;
    align-items: center;
}

@media (max-width: 1280px) {
    .links-section {
        gap: 30px;
    }
}

@media (max-width: 1024px) {
    .links-section {
        display: none;
    }
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.grid-icon {
    display: grid;
    grid-template-columns: repeat(3, 6px);
    grid-template-rows: repeat(3, 6px);
    gap: 4px;
    cursor: pointer;
}

.grid-icon span {
    background: #bababa;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu-icon span {
    height: 4px;
    background: #bababa;
}

.links-wrapper {
    display: flex;
    gap: 36px;
}

@media (max-width: 1440px) {
    .links-wrapper {
        gap: 34px;
    }
}

@media (max-width: 1440px) {
    .links-wrapper {
        gap: 28px;
    }
}

.links-wrapper a {
    font-family: "Recursive", sans-serif;
    font-weight: 400;
    font-style: Italic;
    font-size: 27px;
    color: #909090;
    text-decoration: none;
}

@media (max-width: 1440px) {
    .links-wrapper a {
        font-size: 24px;
    }
}

@media (max-width: 1280px) {
    .links-wrapper a {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .links-wrapper a {
        display: none;
    }
}

.links-wrapper a:hover {
    color: #FF7575;
    background-color: #0F1217;
    transition: 0.5s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 37px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 94px;
}

@media (max-width: 1280px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 45px;
    }
}

@media (max-width: 1024px) {
    .cards {
        margin-top: 70px;
    }
}

@media (max-width: 576px) {
    .cards {
        margin-top: 45px;
        gap: 25px;
    }
}

@media (max-width: 576px) {
    .cards {
        margin-top: 35px;
        gap: 25px;
    }
}

@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    padding: 26px 26.46px;
}

.card-banner {
    width: 100%;
}

.card-title {
    font-weight: 600;
    font-size: 19px;
    color: #0F1217;
    margin-top: 33px;
}

.card-description {
    margin-top: 13px;
}

.card-description,
.card-date,
.devopes {
    font-weight: 400;
    font-size: 16px;
    color: #0F1217;
}

.card-footer {
    margin-top: 24px;
    display: flex;
    gap: 26.5px;
    align-items: center;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: #0F1217;
    border-radius: 50%;
}

.footer-line {
    margin-top: 157px;
}

@media (max-width: 700px) {
    .footer-line {
        margin-top: 100px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 147px;
    margin-top: 30px;
}


@media (max-width: 576px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 100px;
    }
}

@media (max-width: 700px) {
    .footer-logo {
        font-size: 20px;
    }
}

.author-btn {
    background-color: #4699E0;
    padding: 4px 13px 6px;
    border-radius: 5px;
    width: fit-content;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    border: none;
}

@media (max-width: 700px) {
    .author-btn {
        font-size: 17px;
        padding: 4px 10px 6px;
    }
}

.social-network-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
}

.social-network-btn:hover,
.author-btn:hover {
    background-color: #FF7575;
    transition: 0.5s;
}

